.s-input-password{
  display: inline-flex;
  flex-direction: column-reverse;
  position: relative;
  font-size: var(--font-size-M);
}
.s-input-password__field{
  border: var(--border-default);
  border-radius: var(--size-radius-default);
  padding: var(--size-space-XS) var(--size-space-S);
  padding-right: calc(1em + var(--size-space-S) * 2);
  font: inherit;
  box-shadow: var(--shadow-inner-S);
}
.s-input-password__field:focus{
  border: var(--border-focus);
}
.s-input-password__icon{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height:calc(var(--font-size-M) * var(--line-height) + var(--size-space-XS) * 2 + 2px);
  bottom:0;
  right: 0;
  padding: var(--size-space-XS) var(--size-space-S);
}
.s-input-password__field:disabled{
  border-color: var(--color-inactive);
  background: var(--color-white);
  color: var(--color-inactive);
  box-shadow: none;
}
.s-input-password__field:disabled ~ .s-input-password__icon,
.s-input-password__field:disabled ~ .s-input-password__label{
  color: var(--color-inactive);
}