.s-columns{
  display: flex;
  flex-direction: row;
  --current-margin-x:0px;
}
.s-columns--justify-CENTER{
  justify-content: center;
}
.s-columns--justify-START{
  justify-content: flex-start;
}
.s-columns--justify-END{
  justify-content: flex-end;
}
.s-columns--justify-SPACE_BETWEEN{
  justify-content: space-between;
}
.s-columns--justify-SPACE_AROUND{
  justify-content: space-around;
}
.s-columns--justify-SPACE_EVENLY{
  justify-content: space-around;
}
.s-columns--justify-STRETCH{
  justify-content: stretch;
}
.s-columns--align-CENTER{
  align-items: center;
}
.s-columns--align-START{
  align-items: flex-start;
}
.s-columns--align-END{
  align-items: flex-end;
}
.s-columns--align-BASELINE{
  align-items: baseline;
}
.s-columns--align-STRETCH{
  align-items: stretch;
}
.s-columns--spacing-XXL{
  --current-margin-x:var(--size-space-XXL);
  margin: 0 calc(var(--size-space-XXL) * -1/2);
}
.s-columns--spacing-XL{
  --current-margin-x:var(--size-space-XL);
  margin: 0 calc(var(--size-space-XL) * -1/2);
}
.s-columns--spacing-L{
  --current-margin-x:var(--size-space-L);
  margin: 0 calc(var(--size-space-L) * -1/2);
}
.s-columns--spacing-M{
  --current-margin-x:var(--size-space-M);
  margin: 0 calc(var(--size-space-M) * -1/2);
}
.s-columns--spacing-S{
  --current-margin-x:var(--size-space-S);
  margin: 0 calc(var(--size-space-S) * -1/2);
}
.s-columns--spacing-XS{
  --current-margin-x:var(--size-space-XS);
  margin: 0 calc(var(--size-space-XS) * -1/2);
}
.s-columns--spacing-XXS{
  --current-margin-x:var(--size-space-XXS);
  margin: 0 calc(var(--size-space-XXS) * -1/2);
}
.s-columns > *{
  margin-left: calc(var(--current-margin-x) / 2);
  margin-right: calc(var(--current-margin-x) / 2);
  margin-top: calc(var(--current-margin-y) / 2);
  margin-bottom: calc(var(--current-margin-y) / 2);
}