.s-sticker{
  border: var(--size-space-XXS) solid var(--color-black);
  background-color: var(--color-bg-default);
  box-shadow: var(--shadow-S);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.s-sticker > *{
  transform: scale(0.70);
}
.s-sticker--RED{
  background-color: var(--color-values-red);
}
.s-sticker--WHITE{
  background-color: var(--color-values-white);
}
.s-sticker--LIGHT_GREEN{
  background-color: var(--color-values-light-green);
}
.s-sticker--DARK_GREEN{
  background-color: var(--color-values-dark-green);
}
.s-sticker--LIGHT_YELLOW{
  background-color: var(--color-values-light-yellow);
}
.s-sticker--DARK_YELLOW{
  background-color: var(--color-values-dark-yellow);
}
.s-sticker--S{
  width: var(--size-space-S);
  height: var(--size-space-S);
}
.s-sticker--M{
  width: var(--size-space-M);
  height: var(--size-space-M);
}
.s-sticker--L{
  width: var(--size-space-L);
  height: var(--size-space-L);
}