.s-toggle{
  display: inline-block;
  position: relative;
  width: var(--size-space-XXL);
  height: var(--size-space-L);
  justify-content: center;
  align-items: center;
  margin-right: var(--size-space-S);
}
.s-toggle input{
  opacity: 0;
}
.s-toggle__replacer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.s-toggle__thumb{
  position: absolute;
  top: calc(50% - var(--size-space-L) / 2);
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-space-L);
  height: var(--size-space-L);
  border: 1px solid var(--color-secondary);
  background: var(--color-text-on-secondary);
  color: var(--color-secondary);
  border-radius: var(--size-space-L);
  box-shadow: var(--shadow-M);
  font-size: calc(var(--font-size-L) - var(--size-space-XS));
  transition: left 0.125s ease-in, background 0.25s ease-in;
  user-select: none;
}
.s-toggle input:checked ~ .s-toggle__thumb{
  left:calc(100% - var(--size-space-L));
  border: 1px solid var(--color-text-on-secondary);
  background: var(--color-secondary);
  color: var(--color-text-on-secondary);
}
.s-toggle__slide{
  position: absolute;
  top: calc(50% - var(--size-space-M) / 2);
  left:0;
  width: 100%;
  height: var(--size-space-M);
  border: 1px solid var(--color-secondary);
  border-radius: var(--size-space-M);
  background: var(--color-white);
  box-shadow: var(--shadow-inner-M);
  user-select: none;
}
.s-toggle input:disabled ~ .s-toggle__thumb{
  border-color: var(--color-grey);
  background: var(--color-white);
  color: var(--color-grey);
}
.s-toggle input:disabled ~ .s-toggle__slide{
  border-color: var(--color-grey);
  background: var(--color-white);
  color: var(--color-grey);
}