.s-radio-sticker{
  display: inline-block;
  position: relative;
  width: var(--size-space-L);
  height: var(--size-space-L);
}
.s-radio-sticker__replacer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.s-radio-sticker__thumb{
  position: absolute;
  top: calc(50% - var(--size-space-L) / 2);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-space-L);
  height: var(--size-space-L);
  border: 1px solid;
  border-radius: var(--size-space-L);
  box-shadow: var(--shadow-inner-M);
  font-size: calc(var(--font-size-L) - var(--size-space-XS));
  transition: transform 0.2s;
  user-select: none;
  opacity: 0.8;
}
.s-radio-sticker input{
  opacity: 0;
}
/*.s-radio-sticker__baby{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.175;
}*/
input:checked ~ .s-radio-sticker__thumb{
  box-shadow: var(--shadow-M);
  opacity: 1;
  border: 2px solid;
  transform: scale(1.25);
}
.s-radio-sticker--RED .s-radio-sticker__thumb{
  background: var(--color-values-red);
  border-color: var(--color-black);
  color: var(--color-text-on-values-red);
}
.s-radio-sticker--RED input:checked ~ .s-radio-sticker__thumb{
  border-color: var(--color-text-on-values-red);
}
.s-radio-sticker--WHITE .s-radio-sticker__thumb{
  background: var(--color-values-white);
  border-color: var(--color-black);
  color: var(--color-text-on-values-white);
}
.s-radio-sticker--WHITE input:checked ~ .s-radio-sticker__thumb{
  border-color: var(--color-text-on-values-white);
}
.s-radio-sticker--LIGHT_GREEN .s-radio-sticker__thumb{
  background: var(--color-values-light-green);
  border-color: var(--color-black);
  color: var(--color-text-on-values-light-green);
}
.s-radio-sticker--LIGHT_GREEN input:checked ~ .s-radio-sticker__thumb{
  border-color: var(--color-text-on-values-light-green);
}
.s-radio-sticker--DARK_GREEN .s-radio-sticker__thumb{
  background: var(--color-values-dark-green);
  border-color: var(--color-black);
  color: var(--color-text-on-values-dark-green);
}
.s-radio-sticker--DARK_GREEN input:checked ~ .s-radio-sticker__thumb{
  border-color: var(--color-text-on-values-dark-green);
}
.s-radio-sticker--LIGHT_YELLOW .s-radio-sticker__thumb{
  background: var(--color-values-light-yellow);
  border-color: var(--color-black);
  color: var(--color-text-on-values-light-yellow);
}
.s-radio-sticker--LIGHT_YELLOW input:checked ~ .s-radio-sticker__thumb{
  border-color: var(--color-text-on-values-light-yellow);
}
.s-radio-sticker--DARK_YELLOW .s-radio-sticker__thumb{
  background: var(--color-values-dark-yellow);
  border-color: var(--color-black);
  color: var(--color-text-on-values-dark-yellow);
}
.s-radio-sticker--DARK_YELLOW input:checked ~ .s-radio-sticker__thumb{
  border-color: var(--color-text-on-values-dark-yellow);
}
.s-radio-sticker__icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
input:checked ~ .s-radio-sticker__thumb .s-radio-sticker__icon{
  transform: scale(0.90);
}
input:disabled ~ .s-radio-sticker__thumb{
  border-color: var(--color-grey);
  background: var(--color-white);
  color: var(--color-grey);
}
input:disabled ~ .s-radio-sticker__slide{
  border-color: var(--color-grey);
  background: var(--color-white);
  color: var(--color-grey);
}