.s-preview{
  width: 50vw;
  margin: 2rem auto;
}
.s-preview > label{
  margin-left: -8px;
  display: block;
  opacity: 1;
  border:1px solid #DDD;
  border-left:0.5rem solid #DDD;
  padding:0.5rem;
  margin-bottom: 1rem;
  border-radius:2px;
}
.s-preview__content {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
}
.s-preview__content > *:not(:first-child){
  margin-top: 1rem;
}