.s-button{
  box-sizing: border-box;
  position:relative;
  padding: var(--size-space-S) var(--size-space-M);
  box-shadow: var(--shadow-XS);
  border-radius: var(--size-radius-default);
  overflow: hidden;
  background: var(--button-bg);
  color: var(--button-color);
  border: var(--button-border, none);
  transition: background-color 0.25s ease-in-out, color 0.125s ease-in-out;
}
.s-button:disabled{
  opacity: 0.5;
}
.s-button--primary{
  --button-bg: var(--color-primary);
  --button-color: var(--color-text-on-primary);

  --button-hover-bg: var(--color-primary-dark);
  --button-hover-color: var(--color-text-on-primary-dark);
}
.s-button--secondary{
  --button-bg: var(--color-secondary);
  --button-color: var(--color-text-on-secondary);

  --button-hover-bg: var(--color-secondary-dark);
  --button-hover-color: var(--color-text-on-secondary-dark);
}
.s-button--ghost-inverted{
  --button-bg: transparent;
  --button-color: var(--color-white);
  --button-border: 1px solid;

  --button-hover-bg: rgba(255,255,255,0.4);
  --button-hover-color: var(--color-white);
  --button-hover-border: 1px solid;
}
.s-button--no-style{
  --button-bg: transparent;
  --button-color: inherit;

  --button-hover-bg: transparent;
  --button-hover-color: inherit;
  padding: 0;
  box-shadow: none;
  flex:none;
  display: flex;
  min-width: 0;
}

.s-button--ghost{
  --button-bg: transparent;
  --button-color: var(--color-black);
  --button-border: 1px solid;

  --button-hover-bg: rgba(0,0,0,0.2);
  --button-hover-border: 1px solid;
}

.s-button:hover:not(:disabled){
  background: var(--button-hover-bg);
  color: var(--button-hover-color);
  border: var(--button-hover-border, none);
}
.s-button__content{
  display:flex;
  justify-content: center;
  align-items: center;
}
.s-button.has-icon .s-button__content{
  justify-content: space-between;
}
.s-button__icon{
  flex:none;
  font-size: var(--font-size-L);
  display: flex;
}
.s-button__text{
  flex: auto;
  text-align: center;
}