.s-notification{
  position: fixed;
  top:calc(9 * var(--size-space-M));
  left:10vw;
  width: 80vw;
  display: flex;
  background-color: var(--color-error);
  color: var(--color-text-on-error);
  padding: var(--size-space-M);
  align-items: center;
  z-index: var(--z-notification);
  box-shadow: var(--shadow-M);
  border-radius: var(--size-radius-default);
}
.s-notification__icon{
  display: flex;
  font-size:var(--size-space-XL);
}
.s-notification__content{
  flex:auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin-left:var(--size-space-S);
}