.s-column{
  flex-grow: 0;
  flex-shrink: 0;
}
.s-column--grow{
  flex-grow: 1;
}
.s-column--shrink{
  flex-shrink: 1;
}
.s-column--content-fit > *{
  width: 100%;
  height: 100%;
}
.s-column--align-CENTER{
  align-self: center;
}
.s-column--align-START{
  align-self: flex-start;
}
.s-column--align-END{
  align-self: flex-end;
}
.s-column--align-BASELINE{
  align-self: baseline;
}
.s-column--align-STRETCH{
  align-self: stretch;
}