.s-avatar-container{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.s-avatar{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: var(--size-space-S);
  background-image: var(--color-gradient);
  box-shadow: var(--shadow-S);
  border-radius: 50%;
  border: 2px solid;
  width: var(--size-space-XXL);
  height: var(--size-space-XXL);
  font-size: var(--size-space-XL);
  color: var(--color-white);
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.s-avatar__name{
  margin-left: var(--size-space-S);
}