.s-inline{
  display: flex;
  flex-direction: row;
  --current-margin-x:0px;
  --current-margin-y:0px;
}
.s-inline--wrap{
  flex-wrap: wrap;
}
.s-inline--justify-CENTER{
  justify-content: center;
}
.s-inline--justify-START{
  justify-content: flex-start;
}
.s-inline--justify-END{
  justify-content: flex-end;
}
.s-inline--justify-SPACE_BETWEEN{
  justify-content: space-between;
}
.s-inline--justify-SPACE_AROUND{
  justify-content: space-around;
}
.s-inline--justify-SPACE_EVENLY{
  justify-content: space-around;
}
.s-inline--justify-STRETCH{
  justify-content: stretch;
}
.s-inline--align-CENTER{
  align-items: center;
}
.s-inline--align-START{
  align-items: flex-start;
}
.s-inline--align-END{
  align-items: flex-end;
}
.s-inline--align-BASELINE{
  align-items: baseline;
}
.s-inline--align-STRETCH{
  align-items: stretch;
}
.s-inline--spacing-XXL{
  --current-margin-x:var(--size-space-XXL);
  --current-margin-y:var(--size-space-XXL);
  margin: calc(var(--size-space-XXL) * -1/2);
}
.s-inline--spacing-XL{
  --current-margin-x:var(--size-space-XL);
  --current-margin-y:var(--size-space-XL);
  margin: calc(var(--size-space-XL) * -1/2);
}
.s-inline--spacing-L{
  --current-margin-x:var(--size-space-L);
  --current-margin-y:var(--size-space-L);
  margin: calc(var(--size-space-L) * -1/2);
}
.s-inline--spacing-M{
  --current-margin-x:var(--size-space-M);
  --current-margin-y:var(--size-space-M);
  margin: calc(var(--size-space-M) * -1/2);
}
.s-inline--spacing-S{
  --current-margin-x:var(--size-space-S);
  --current-margin-y:var(--size-space-S);
  margin: calc(var(--size-space-S) * -1/2);
}
.s-inline--spacing-XS{
  --current-margin-x:var(--size-space-XS);
  --current-margin-y:var(--size-space-XS);
  margin: calc(var(--size-space-XS) * -1/2);
}
.s-inline--spacing-XXS{
  --current-margin-x:var(--size-space-XXS);
  --current-margin-y:var(--size-space-XXS);
  margin: calc(var(--size-space-XXS) * -1/2);
}
.s-inline--spacing-x-XXL{
  --current-margin-x:var(--size-space-XXL);
  margin-left: calc(var(--size-space-XXL) * -1/2);
  margin-right: calc(var(--size-space-XXL) * -1/2);
}
.s-inline--spacing-x-XL{ 
  --current-margin-x:var(--size-space-XL);
  margin-left: calc(var(--size-space-XL) * -1/2);
  margin-right: calc(var(--size-space-XL) * -1/2);
}
.s-inline--spacing-x-L{
  --current-margin-x:var(--size-space-L);
  margin-left: calc(var(--size-space-L) * -1/2);
  margin-right: calc(var(--size-space-L) * -1/2);
}
.s-inline--spacing-x-M{
  --current-margin-x:var(--size-space-M);
  margin-left: calc(var(--size-space-M) * -1/2);
  margin-right: calc(var(--size-space-M) * -1/2);
}
.s-inline--spacing-x-S{
  --current-margin-x:var(--size-space-S);
  margin-left: calc(var(--size-space-S) * -1/2);
  margin-right: calc(var(--size-space-S) * -1/2);
}
.s-inline--spacing-x-XS{
  --current-margin-x:var(--size-space-XS);
  margin-left: calc(var(--size-space-XS) * -1/2);
  margin-right: calc(var(--size-space-XS) * -1/2);
}
.s-inline--spacing-x-XXS{
  --current-margin-x:var(--size-space-XXS);
  margin-left: calc(var(--size-space-XXS) * -1/2);
  margin-right: calc(var(--size-space-XXS) * -1/2);
}
.s-inline--spacing-y-XXL{
  --current-margin-y:var(--size-space-XXL);
  margin-top: calc(var(--size-space-XXL) * -1/2);
  margin-bottom: calc(var(--size-space-XXL) * -1/2);
}
.s-inline--spacing-y-XL{ 
  --current-margin-y:var(--size-space-XL);
  margin-top: calc(var(--size-space-XL) * -1/2);
  margin-bottom: calc(var(--size-space-XL) * -1/2);
}
.s-inline--spacing-y-L{
  --current-margin-y:var(--size-space-L);
  margin-top: calc(var(--size-space-L) * -1/2);
  margin-bottom: calc(var(--size-space-L) * -1/2);
}
.s-inline--spacing-y-M{
  --current-margin-y:var(--size-space-M);
  margin-top: calc(var(--size-space-M) * -1/2);
  margin-bottom: calc(var(--size-space-M) * -1/2);
}
.s-inline--spacing-y-S{
  --current-margin-y:var(--size-space-S);
  margin-top: calc(var(--size-space-S) * -1/2);
  margin-bottom: calc(var(--size-space-S) * -1/2);
}
.s-inline--spacing-y-XS{
  --current-margin-y:var(--size-space-XS);
  margin-top: calc(var(--size-space-XS) * -1/2);
  margin-bottom: calc(var(--size-space-XS) * -1/2);
}
.s-inline--spacing-y-XXS{
  --current-margin-y:var(--size-space-XXS);
  margin-top: calc(var(--size-space-XXS) * -1/2);
  margin-bottom: calc(var(--size-space-XXS) * -1/2);
}
.s-inline > *{
  margin-left: calc(var(--current-margin-x) / 2);
  margin-right: calc(var(--current-margin-x) / 2);
  margin-top: calc(var(--current-margin-y) / 2);
  margin-bottom: calc(var(--current-margin-y) / 2);
}
.s-inline--sized > *{
  width: calc(100% / var(--inline-count) - var(--current-margin-x));
}