.s-header{
  padding: var(--size-space-S) var(--size-space-M);
  background-image: var(--color-gradient);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}