.s-icon{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.s-icon--XXL{
  font-size: var(--size-space-XXL);
}
.s-icon--XL{
  font-size: var(--size-space-XL);
}
.s-icon--L{
  font-size: var(--size-space-L);
}
.s-icon--M{
  font-size: var(--size-space-M);
}
.s-icon--S{
  font-size: var(--size-space-S);
}
.s-icon--XS{
  font-size: var(--size-space-XS);
}
.s-icon--XXS{
  font-size: var(--size-space-XXS);
}