.s-overlay{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--color-overlay);
  justify-content: center;
  align-items: center;
  z-index: var(--z-modal);
}