:root {  
  /* TEXT */
  --font-family: 'Roboto', sans-serif;
  --font-size-L: 24px;
  --font-size-M: 16px;
  --font-size-S: 12px;
  --line-height: 1.25;

  /* SPACING */
  --size-space-XXL:3rem;
  --size-space-XL:2rem;
  --size-space-L:1.5rem;
  --size-space-M:1rem;
  --size-space-default: var(--size-space-M);
  --size-space-S:0.5rem;
  --size-space-XS:0.25rem;
  --size-space-XXS:0.125rem;

  --size-radius-default:4px;

  /* COLOR */
  --color-gradient: linear-gradient(-33deg, #840032 0%, #e59500 100%);
  --color-primary:#E29002;
  --color-primary-light: #F1C16E;
  --color-primary-dark: #AB5C00;
  --color-secondary:#870530;
  --color-secondary-light:#B14A6C;
  --color-secondary-dark: #4F002F;
  --color-grey:#CEC4C4;
  --color-grey-light: #DDDADA;
  --color-white: #F9F9F9;
  --color-grey-dark: #9D8C8C;
  --color-black: #402020;

  --color-info: #62C2D7;
  --color-error: #D30B0B;
  --color-warning: #F2DD19;
  --color-success: #7DC863;

  --color-values-red: #AD301A;
  --color-values-white:#D5DCE8;
  --color-values-light-green:#86A87A;
  --color-values-dark-green:#486D3B;
  --color-values-light-yellow:#F4C964;
  --color-values-dark-yellow:#C99E10;

  --color-text-on-gradient: var(--color-white);
  --color-text-on-gradient-left: var(--color-black);
  --color-text-on-gradient-right: var(--color-white);
  --color-text-on-primary:var(--color-black);
  --color-text-on-primary-light: var(--color-black);
  --color-text-on-primary-dark: var(--color-white);
  --color-text-on-secondary:var(--color-white);
  --color-text-on-secondary-light:var(--color-white);
  --color-text-on-secondary-dark: var(--color-white);
  --color-text-on-grey:var(--color-black);
  --color-text-on-grey-light: var(--color-black);
  --color-text-on-white: var(--color-black);
  --color-text-on-grey-dark: var(--color-black);
  --color-text-on-black: var(--color-white);

  --color-text-on-info: var(--color-black);
  --color-text-on-error: var(--color-white);
  --color-text-on-warning: var(--color-black);
  --color-text-on-success: var(--color-black);

  --color-text-on-values-red: var(--color-black );
  --color-text-on-values-white:var(--color-black);
  --color-text-on-values-light-green:var(--color-black);
  --color-text-on-values-dark-green:var(--color-black);
  --color-text-on-values-light-yellow:var(--color-black);
  --color-text-on-values-dark-yellow:var(--color-black);

  --color-bg-default: var(--color-white);
  --color-text-default: var(--color-black);
  --color-text-inactive:var(--color-grey-dark);
  --color-inactive:var(--color-grey);
  --color-bg-inactive:var(--color-grey-light);

  --color-bg-header:var(--color-gradient);
  --color-invalid:var(--color-error);
  --color-overlay:rgba(0, 0, 0, 0.2);

  --border-default:1px solid var(--color-grey);
  --border-light:1px solid var(--color-grey-light);
  --border-focus:1px solid currentColor;

  /* SHADOWS */
  --shadow-XS: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 0px 4px rgba(0, 0, 0, 0.1);
  --shadow-S: 0px 2px 4px rgba(0, 0, 0, 0.05), 0px 0px 8px rgba(0, 0, 0, 0.1);
  --shadow-M: 0px 4px 8px rgba(0, 0, 0, 0.05), 0px 0px 16px rgba(0, 0, 0, 0.1);
  --shadow-L: 0px 8px 16px rgba(0, 0, 0, 0.05), 0px 0px 32px rgba(0, 0, 0, 0.1);
  --shadow-inner-M: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  --shadow-inner-S: inset 0px 1px 2px rgba(0, 0, 0, 0.1);

  /* ANIMATION */
  --time-default:0.125s;

  /* LEVELS */
  --z-modal:6;
  --z-notification:7;
  --z-dropdown:5;
  --z-day-hover:4;
  --z-header:3;
  --z-day-current:1;
  --z-main:0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,500,700&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  color: var(--color-text-default);
  line-height: var(--size-h-line);
  font-family: var(--font-family);
}
#root {
  height:100%;
}