.s-dropdown{
  display: inline-block;
  position: relative;
}
.s-dropdown__content{
  z-index: var(--z-dropdown);
  position: absolute;
  top: 100%;
  animation: dropdownAppear ease-in var(--time-default);
}

.s-dropdown__label{
  font: inherit;
  border:0;
  background: transparent;
  color: inherit;
  padding: 0;
}

.s-dropdown--left .s-dropdown__content{
  left: 0;
}

.s-dropdown--right .s-dropdown__content{
  right: 0;
}

.s-dropdown__content ul,
.s-dropdown__content li {
  margin: 0;
  padding: 0;
}
.s-dropdown__content li{
  list-style-type: none;
  white-space: nowrap;
}
.s-dropdown__content li:not(:last-child){
  padding-bottom: var(--size-space-XXS);
}
.s-dropdown__content li:not(:first-child){
  padding-top: var(--size-space-XXS);
  border-top: var(--border-light);
}

@keyframes dropdownAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}