.s-stack{
  display: flex;
  flex-direction: column;
}
.s-stack--spacing-XXL > *:not(:first-child){
  margin-top: var(--size-space-XXL);
}
.s-stack--spacing-XL > *:not(:first-child){ 
  margin-top: var(--size-space-XL);
}
.s-stack--spacing-L > *:not(:first-child){
  margin-top: var(--size-space-L);
}
.s-stack--spacing-M > *:not(:first-child){
  margin-top: var(--size-space-M);
}
.s-stack--spacing-S > *:not(:first-child){
  margin-top: var(--size-space-S);
}
.s-stack--spacing-XS > *:not(:first-child){
  margin-top: var(--size-space-XS);
}
.s-stack--spacing-XXS > *:not(:first-child){
  margin-top: var(--size-space-XXS);
}