.s-input-text{
  display: inline-flex;
  flex-direction: column-reverse;
  font-size: var(--font-size-M);
}
.s-input-text__field{
  border: var(--border-default);
  border-radius: var(--size-radius-default);
  padding: var(--size-space-XS) var(--size-space-S);
  font: inherit;
  box-shadow: var(--shadow-inner-S);
}
.s-input-text__field:focus{
  border: var(--border-focus);
}

.s-input-text__field:disabled{
  border-color: var(--color-inactive);
  background: var(--color-white);
  color: var(--color-inactive);
  box-shadow: none;
}
.s-input-text__field:disabled + .s-input-text__label{
  color: var(--color-inactive);
}