.s-container--no-overflow{
  overflow: hidden;
}
.s-container--inline{
  display: inline-block;
}
.s-container--scroll{
  overflow-y: auto;
}
.s-container--grow{
  flex-grow: 1;
}
.s-container--no-grow{
  flex-grow: 0;
}
.s-container--shrink{
  flex-shrink: 1;
}
.s-container--no-shrink{
  flex-shrink: 0;
}
.s-container--margin-XXL{
  margin-top: var(--size-space-XXL);
}
.s-container--margin-XL{
  margin-top: var(--size-space-XL);
}
.s-container--margin-L{
  margin-top: var(--size-space-L);
}
.s-container--margin-M{
  margin-top: var(--size-space-M);
}
.s-container--margin-S{
  margin-top: var(--size-space-S);
}
.s-container--margin-XS{
  margin-top: var(--size-space-XS);
}
.s-container--margin-XXS{
  margin-top: var(--size-space-XXS);
}
.s-container--padding-XXL{
  padding: var(--size-space-XXL);
}
.s-container--padding-XL{
  padding: var(--size-space-XL);
}
.s-container--padding-L{
  padding: var(--size-space-L);
}
.s-container--padding-M{
  padding: var(--size-space-M);
}
.s-container--padding-S{
  padding: var(--size-space-S);
}
.s-container--padding-XS{
  padding: var(--size-space-XS);
}
.s-container--padding-XXS{
  padding: var(--size-space-XXS);
}
.s-container--padding-x-XXL{
  padding-left: var(--size-space-XXL);
  padding-right: var(--size-space-XXL);
}
.s-container--padding-x-XL{
  padding-left: var(--size-space-XL);
  padding-right: var(--size-space-XL);
}
.s-container--padding-x-L{
  padding-left: var(--size-space-L);
  padding-right: var(--size-space-L);
}
.s-container--padding-x-M{
  padding-left: var(--size-space-M);
  padding-right: var(--size-space-M);
}
.s-container--padding-x-S{
  padding-left: var(--size-space-S);
  padding-right: var(--size-space-S);
}
.s-container--padding-x-XS{
  padding-left: var(--size-space-XS);
  padding-right: var(--size-space-XS);
}
.s-container--padding-x-XXS{
  padding-left: var(--size-space-XXS);
  padding-right: var(--size-space-XXS);
}
.s-container--padding-x-XXL{
  padding-left: var(--size-space-XXL);
  padding-right: var(--size-space-XXL);
}
.s-container--padding-y-XL{
  padding-top: var(--size-space-XL);
  padding-bottom: var(--size-space-XL);
}
.s-container--padding-y-L{
  padding-top: var(--size-space-L);
  padding-bottom: var(--size-space-L);
}
.s-container--padding-y-M{
  padding-top: var(--size-space-M);
  padding-bottom: var(--size-space-M);
}
.s-container--padding-y-S{
  padding-top: var(--size-space-S);
  padding-bottom: var(--size-space-S);
}
.s-container--padding-y-XS{
  padding-top: var(--size-space-XS);
  padding-bottom: var(--size-space-XS);
}
.s-container--padding-y-XXS{
  padding-top: var(--size-space-XXS);
  padding-bottom: var(--size-space-XXS);
}
.s-container--color-GRADIENT{
  color: var(--color-text-on-gradient);
  background-image: var(--color-gradient);
}
.s-container--color-RED{
  color: var(--color-text-on-values-red);
  background-color: var(--color-values-red);
}
.s-container--color-WHITE{
  color: var(--color-text-on-values-white);
  background-color: var(--color-values-white);
}
.s-container--color-LIGHT_GREEN{
  color: var(--color-text-on-values-light-green);
  background-color: var(--color-values-light-green);
}
.s-container--color-DARK_GREEN{
  color: var(--color-text-on-values-dark-green);
  background-color: var(--color-values-dark-green);
}
.s-container--color-LIGHT_YELLOW{
  color: var(--color-text-on-values-light-yellow);
  background-color: var(--color-values-light-yellow);
}
.s-container--color-DARK_YELLOW{
  color: var(--color-text-on-values-dark-yellow);
  background-color: var(--color-values-dark-yellow);
}
.s-container--color-PRIMARY{
  color: var(--color-text-on-primary);
  background-color: var(--color-primary);
}
.s-container--color-PRIMARY_LIGHT{
  color: var(--color-text-on-primary-light);
  background-color: var(--color-primary-light);
}
.s-container--color-PRIMARY_DARK{
  color: var(--color-text-on-primary-dark);
  background-color: var(--color-primary-dark);
}
.s-container--color-SECONDARY{
  color: var(--color-text-on-secondary);
  background-color: var(--color-secondary);
}
.s-container--color-SECONDARY_LIGHT{
  color: var(--color-text-on-secondary-light);
  background-color: var(--color-secondary-light);
}
.s-container--color-SECONDARY_DARK{
  color: var(--color-text-on-secondary-dark);
  background-color: var(--color-secondary-dark);
}
.s-container--color-WHITE{
  color: var(--color-text-on-white);
  background-color: var(--color-white);
}
.s-container--color-GREY{
  color: var(--color-text-on-grey);
  background-color: var(--color-grey);
}
.s-container--color-GREY_LIGHT{
  color: var(--color-text-on-grey-light);
  background-color: var(--color-grey-light);
}
.s-container--color-GREY_DARK{
  color: var(--color-text-on-grey-dark);
  background-color: var(--color-grey-dark);
}
.s-container--color-BLACK{
  color: var(--color-text-on-black);
  background-color: var(--color-black);
}
.s-container--color-INFO{
  color: var(--color-text-on-info);
  background-color: var(--color-info);
}
.s-container--color-WARNING{
  color: var(--color-text-on-warning);
  background-color: var(--color-warning);
}
.s-container--color-ERROR{
  color: var(--color-text-on-error);
  background-color: var(--color-error);
}
.s-container--color-SUCCESS{
  color: var(--color-text-on-success);
  background-color: var(--color-success);
}
.s-container--border-default{
  border: var(--border-default);
}
.s-container--border-light{
  border: var(--border-light);
}
.s-container--radius-default{
  border-radius: var(--size-radius-default);
}
.s-container--radius-rounded{
  border-radius: 50%;
}
.s-container--shadow-XS{
  box-shadow: var(--shadow-XS);
}
.s-container--shadow-S{
  box-shadow: var(--shadow-S);
}
.s-container--shadow-M{
  box-shadow: var(--shadow-M);
}
.s-container--shadow-L{
  box-shadow: var(--shadow-L);
}
.s-container--shadow-inner-M{
  box-shadow: var(---shadow-inner-M);
}
.s-container--z-modal{
  z-index: var(--z-modal);
}
.s-container--z-notification{
  z-index: var(--z-notification);
}
.s-container--z-dropdown{
  z-index: var(--z-dropdown);
}
.s-container--z-day-hover{
  z-index: var(--z-day-hover);
}
.s-container--z-header{
  z-index: var(--z-header);
}
.s-container--z-day-current{
  z-index: var(--z-day-current);
}
.s-container--z-main{
  z-index: var(--z-main);
}